<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="env-11">
            <directory>tests/Rector/Laravel11</directory>
        </testsuite>
        <testsuite name="env-12">
            <directory>tests/Rector/Laravel12</directory>
            <directory>tests/Rector/Carbon3</directory>
        </testsuite>
        <testsuite name="env-13">
            <directory>tests/Rector/Laravel13</directory>
        </testsuite>
        <testsuite name="phpstan">
            <directory>tests/PHPStan</directory>
        </testsuite>
        <testsuite name="independent">
            <directory>tests/Support</directory>
            <directory>tests/Upgrade</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
