# Advisory rules for Laravel upgrade to 11.
parameters:
    level: 0
    reportUnmatchedIgnoredErrors: false

services:
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\ColumnChangeRequiresModifiersRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\HasUuidsNowV7Rule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\PassportRoutesRemovedRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\ImageRuleExcludesSvgRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\UpsertEmptyUniqueByRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\DeleteJoinOrderLimitRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\ModelBootInstantiationRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\MorphPivotTableNameRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\QueuedNotificationMissingModelsRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\MergeIfMissingDotKeysRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\ManagerExtendBindingRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\JsFromUnicodeRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\StrFactoryResetRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\SchemaInspectionAllSchemasRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\ContainerCallNullableDefaultRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\PasswordResetSubjectRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\LocalDiskDefaultRootRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\DatabaseTokenRepositoryExpiresRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\PasswordRehashCustomColumnRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\CarbonUntypedDiffRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\AfterCommitWithSyncQueueRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\MariaDbUuidColumnRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\FloatPrecisionDroppedRule
        tags: [phpstan.rules.rule]
    -
        class: MuhammadSadeeq\LaravelUpgradesRector\PHPStan\Rules\SpatialGeographyReviewRule
        tags: [phpstan.rules.rule]